<h3>Add a Class</h3>
<form action="/classes" method="post">
<p>Class Name:</p>
<input type="text" name="class_name">
<p>Class Code:</p>
<input type="text" name="class_code">
<button type="submit">Add Class</button>
</form>
